<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--<package name="com.shiro.model"/>-->
    </typeAliases>
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>-->
                <!--<property name="url" value="jdbc:sqlserver://192.168.10.14:1433;DatabaseName=newqpgl;autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>-->
                <!--<property name="username" value="sa"/>-->
                <!--<property name="password" value="123456"/>-->
                <!--<property name="poolPingEnabled" value="true"/>-->
                <!--<property name="poolPingQuery" value="select serverproperty('productversion')"/>-->
                <!--<property name="poolPingConnectionsNotUsedFor" value="3600000"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <mappers>
         <!--扫描mapper.xml文件-->
    </mappers>
</configuration>